@import './base.css';

#app {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
  height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: var(--accent-color);
  transition: 0.4s;
  padding: 3px;
}


img {
  width: 100%;
}

a:hover {
  background-color: var(--accent-color-hover);
}
button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.btn {
  cursor: pointer;
  padding: 1rem;
  color: white;
  background-color: var(--accent-color);
  border: none;
  border-radius: 2rem;
  &:hover {
    background-color: var(--accent-color-hover);
  }
}



